.slider-container {
  height: 250px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.slider {
  width: 500px;
}

.watch-display-img {
  height: 200px;
  transition: transform 0.3s ease;
}

.item-img {
  height: 200px;
}

.front-img-container {
  height: 300px;
}
